@model Tutoring.WebApp.Models.TutorshipViewModels.PetitionViewModel
@{
	ViewBag.Title = "Tutorship request for " + Model.Class.Name;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Petition", "Tutorship", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<hr />
	@Html.ValidationSummary("", new { @class = "text-danger" })
	@Html.HiddenFor(x => x.Class.Name)
	@Html.HiddenFor(x => x.Class.ClassId)
	<div class="form-group">
		@Html.LabelFor(m => m.About, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextAreaFor(m => m.About, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Register" />
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
